.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(28, 28, 28, 0.5);
}

.bar__audio {
    display: none;
}

.bar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.bar__loadingTrack {
    position: absolute;
    top: -25px;
    left: 10px;
    color: white;
}

.bar__currentTrackTime {
    position: absolute;
    top: -25px;
    right: 10px;
    color: white;
}

.bar__playerProgress {
    width: 100%;
    height: 5px;
    background: #2e2e2e;
}

.bar__playerBlock {
    height: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bar__player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bar__volumeBlock {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 92px 0 0;
}

.player__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0 27px 0 31px;
}

.player__btnPrev,
.player__btnPlay,
.player__btnNext,
.player__btnRepeat,
.player__btnShuffle {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.player__btnPrev:hover svg,
.player__btnPlay:hover svg,
.player__btnNext:hover svg,
.player__btnRepeat:hover svg,
.player__btnShuffle:hover svg {
    stroke: #ACACAC;
}

.player__btnPrev {
    margin-right: 23px;
}

.player__btnPrevSvg {
    width: 15px;
    height: 14px;
}

.player__btnPlay {
    margin-right: 23px;
}

.player__btnPlaySvg {
    width: 22px;
    height: 20px;
    fill: #d9d9d9;
}

.player__btnNext {
    margin-right: 28px;
    fill: #a53939;
}

.player__btnNextSvg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #d9d9d9;
}

.player__btnRepeat {
    margin-right: 24px;
}

.player__btnRepeatSvg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.player__btnShuffle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.player__btnShuffleSvg {
    width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.player__trackPlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.trackPlay__likeDis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 26%;
}

.trackPlay__like,
.trackPlay__dislike {
    padding: 5px;
}

.trackPlay__likeSvg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.trackPlay__dislike {
    margin-left: 28.5px;
}

.trackPlay__dislikeSvg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
}

._active {
    stroke: white;
}

.player__btnNext.disabled svg {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: auto;
}