.centerblock__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
}

.filter__buttons_container {
    display: flex;
    gap: 10px;
    position: relative;
}

.filter__button_wrapper {
    position: relative;
    display: inline-block;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
    color: #ffffff;
}

.filter__button {
    /*composes: btn-text from '/src/UI/Button/button.module.css';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    color: #ffffff;
    cursor: pointer;

    position: relative;
}

.filter__count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #B672FF;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}